---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Pagination from '../../components/Pagination.tsx';
import { collections } from '../../content/config';

const { chapter, number } = Astro.params;
if (!chapter || !number) {
  throw new Error('Missing chapter or number');
}
const chapters = Object.keys(collections);
type ChapterPages = {
   chapter: string;
   pages: any;
   current: boolean;
}[]
let chapterPages:ChapterPages = [];

await Promise.all(
  chapters.map(async (c) => {
    const chapNum = c.replace('chapter-', '');
    // @ts-ignore
    const pages = await getCollection(c);
    chapterPages.push({
      chapter: chapNum,
      pages: pages.sort((a, b) => a.data.page - b.data.page),
      current: chapNum === chapter
    });
  })
);

// Sort the chapters
chapterPages = chapterPages.sort((a, b) => parseInt(a.chapter) - parseInt(b.chapter));
console.log(chapterPages);
const currentChapter = chapterPages.find((c) => c.chapter === chapter);
const lastPage = currentChapter!.pages[currentChapter!.pages.length - 1].data.page;
const nextPageLink = (parseInt(number) < lastPage) ? `/chapter-${chapter}/${parseInt(number) + 1}` : `/chapter-${parseInt(currentChapter!.chapter) + 1}/${parseInt(number) + 1}`;

---

<Layout title="Peach Boy Comic">
   <div class="grid grid-cols-8">
      <div class="col-span-4">
         <div class="flex justify-center items-center h-screen">
            <a href={nextPageLink}>
               <img src={`/assets/chapter-${chapter}/${number}.webp`} alt="Peach Boy" class="max-h-screen max-w-full w-auto h-auto"/>
            </a>
         </div>
      </div>
      
      <div class="col-span-4 p-20">
         <h1 class="text-center"><a href="/" class="text-stone-900">Peach Boy</a></h1>
         <p class="mb-8">This is a comic inspired by the Japanese fairytale, <em>Momotaro</em>. 
            While the basic plot points of the original story have been preserved, I've expanded on the characters and the world they inhabit.
            Momotaro was the first story I ever read fully in Japanese, and this project is the longest running comic I've ever worked on. I hope you enjoy.
         </p>
         
         <ul class="flex flex-col gap-8">
            {chapterPages.map((c) => {
                  return (
                     <li>
                        <h2 class="mb-3">
                           <a href={`/chapter-${c.chapter}/${c.pages[0].data.page}`} class={`${c.current ? "" : " text-stone-600 hover:text-black"}`}>Chapter {c.chapter}</a>
                        </h2>
                        <Pagination chapter={parseInt(c.chapter)} currentChapter={parseInt(currentChapter!.chapter)} current={parseInt(number)} pages={c.pages} client:load/>
                     </li>
                  )
            })}
         </ul>
      </div>
</Layout>
