---
import Layout from '../../layouts/Layout.astro';

const { chapter, number } = Astro.params;
if (number === undefined || chapter === undefined) {
   return Astro.redirect("/404");
}

const prev = Astro.url.searchParams.get("prev");

if (prev) {
   const imageexists = await fetch(`http://localhost:4321/assets/chapter-${chapter}/${number}.webp`);
   
   if (imageexists.status > 399) {
      console.log("Image does not exist");
      const nextchapter = await fetch(`http://localhost:4321/assets/chapter-${parseInt(chapter) - 1}/${number}.webp`);
   
      if (nextchapter.status > 399) {
         console.log("CHAPTER does not exist");
         return Astro.redirect("/404");
      }
      return Astro.redirect(`http://localhost:4321/chapter-${parseInt(chapter) - 1}/${number}`);
   }
} else {
   const imageexists = await fetch(`http://localhost:4321/assets/chapter-${chapter}/${number}.webp`);
   
   if (imageexists.status > 399) {
      console.log("Image does not exist");
      const nextchapter = await fetch(`http://localhost:4321/assets/chapter-${parseInt(chapter) + 1}/${number}.webp`);
   
      if (nextchapter.status > 399) {
         console.log("CHAPTER does not exist");
         return Astro.redirect("/404");
      }
      return Astro.redirect(`http://localhost:4321/chapter-${parseInt(chapter) + 1}/${number}`);
   }
}


---

<Layout title="Peach Boy | Momotaro Reimagined">
   <div class="grid grid-cols-8">
      <div class="col-span-4">
         <a href={`/chapter-${chapter}/${parseInt(number) + 1}`}>
            <img src={`/assets/chapter-${chapter}/${number}.webp`} alt="Peach"/>
         </a>
      </div>
      <div class="bg-stone-100 col-span-4 p-20">
         <h1 class="">Peach Boy</h1>
         <p>This is a comic heavily inspired by the Japanese fairytale, <em>Momotaro</em>. 
            While the basic plot points of the original story have been preserved, I've expanded on the characters and the world they inhabit.
            Momotaro was the first story I ever read fully in Japanese, and this project is the longest running comic I've ever worked on. I hope you enjoy.
         </p>
         
         <p><strong>Chapter {chapter}, page {number}</strong></p>
         <nav class="flex gap-8">
            <a href={`/chapter-1/1`}>First</a>
            <a href={`/chapter-${chapter}/${parseInt(number) - 1}?prev=true`}>Previous</a>
            <a href={`/chapter-${chapter}/${parseInt(number) + 1}`}>Next</a>
         </nav>
      </div>
</Layout>
